@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face{
    font-family: "Vazirmatn";
    src: url("/fonts/Vazirmatn-Bold.ttf") format(truetype);
}


/* body{
    font-family: "Vazirmatn",sans-serif;
} */


{
    font-family: "Vazirmatn",sans-serif;
} 

