@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face{
    font-family: "Vazirmatn";
    src: url("../public//fonts/ttf//Vazirmatn-Regular.ttf") format(truetype);
}


body{
    font-family: "Vazirmatn",sans-serif;
}

/* 
{
    font-family: "Vazirmatn",sans-serif;
}  */

